
#dependencies
.env
/node_modules
/.pnp
.pnp.js

#testing
/coverage

#production
/build

#music
.DS_Store
.env_local,
env.development_local
.env.test_local
.env.production.env_local

npm-debug.log*
yarn-debug.log*
yarn-error.log* 